body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f9fc;
    color: #555;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffc107;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.posts {
    width: 60%;
}

.posts article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.posts article:hover {
    transform: translateY(-5px);
}

.posts article img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.posts article h2 {
    margin-bottom: 10px;
    color: #1f3a93; /* heading color */
}

.posts article p {
    color: #666;
    margin-bottom: 15px;
}

.posts article a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.posts article a:hover {
    color: #ffc107;
}

.sidebar {
    width: 30%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* scrollbar */
}

.sidebar h2 {
    color: #1f3a93; /* sidebar heading color */
}

.sidebar p {
    color: #555; /* sidebar text color */
}

.about-images {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.about-images img {
    width: 48%;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.contact-form {
    max-width: 600px;
    margin: auto;
}

.contact-form h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

